amqp==1.4.6
anyjson==0.3.3
appnope==0.1.0
billiard==3.3.0.20
boto==2.38.0
celery==3.1.18
decorator==4.0.2
dj-database-url==0.3.0
Django==1.9.9
django-admin-sortable==2.0.19
django-filter==0.11.0
django-mptt==0.8.6
django-ses==0.7.0
django-ses-backend==0.1.1
djangorestframework==3.4.1
easy-thumbnails==2.2
feedparser==5.2.1
FeinCMS==1.12.1
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
kombu==3.0.26
Markdown==2.6.2
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==3.3.1
psycopg2==2.6.1
pytz==2016.6.1
qrcode==5.3
redis==2.10.3
reportlab==3.2.0
requests==2.7.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.0.0
WebOb==1.4.1
XlsxWriter==0.7.3
