{% load thumbnail %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">
<html>
	<head>
		<title>Bulk Uploader</title>
		<script src="/static/js/dropzone.js"></script>
	</head>
	<body>
		<h2>{{ gallery }}</h2>
		<h3>Current images</h3>
		{% for image in images %}
			<img src="{% thumbnail image.image 100x100 crop="smart" %}" /> 
		{% endfor %}
		
		<h3>Batch Image Upload</h3>
		<form action="{% url 'galleries.views.manage_gallery' gallery.id %}" class="dropzone" id="my-awesome-dropzone">
			{% csrf_token %}
			<input type="file" name="uploadFile" />
			
		</form>
	</body>
</html>
