input, select, textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.autocomplete-name, .autocomplete-name-empty{
	font-size: 14px;
	font-style: bold;
}

.autocomplete-name-empty {
	color: gray;
}

.autocomplete-emails {
	font-size: 12px;
	font-style: italic;
}

.autocomplete {
	width: 100%;
}

.dashboardBlock input[type="text"], .dashboardBlock select, .dashboardBlock ul {
	width: 98%;
	display: block;
	margin: 0 auto;
}

.dashboardBlock label {
	margin-left: 1%;
}