{% extends feincms_page.template.path|default:"base.html" %}
{% load static %}
{% block headextra %}
	<link rel="stylesheet" href="{% static 'css/registration_form.css' %}" type="text/css" />
	<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
	{{ super.headextra }}
	
	<script type="text/javascript">
		var required_fields_url = "/registration/required_fields/";
		$(document).ready(function() {
			$("#registration_form input:text, #registration_form textarea").first().focus();
		});
	</script>
{% endblock %}

{% block content %}
	<form action="" method="POST" id="registration_form">{% csrf_token %}
		<table>
		{{ form.as_table }}
		
		<tr><th>&nbsp;</th><td><input id="id_submit" type="submit" value="Continue" /></td></tr>
		</table>
	</form>
{% endblock %}