<!DOCTYPE html>
<html>
<head>
<title>Comp Results</title>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
    function request_data() {
        $.ajax({
            url: "{% url 'json' %}",
        }).done(function(data) {
            out = $("<div id=\"data\"></div>")
            
            data.events.forEach(function(event) {
                h1 = $("<h1>" + event.name + "</h1>");
                out.append(h1);

                if (event.note) {
                    p = $("<p class=\"note\"></p>")
                    p.text(event.note);
                    out.append(p);
                }

                if (event.numbers) {
                    p = $("<p class=\"numbers\"></p>")
                    p.text(event.numbers.join(" "));
                    out.append(p);
                }

                out.append("<hr>")

                console.log(event);
            });

            out.append("<p>" + data.last_updated + "</p>")

            $("#data").replaceWith(out);

            console.log("Got data", data);
        }).fail(function(request, textStatus, errorThrown) {
            console.log("request error", textStatus, errorThrown)
        }).always(function() {
            setTimeout(request_data, 5000);
        });
    }

    $(document).ready(function() {
        request_data();
    });
</script>

<style>
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-weight: bolder;
    }

    p.note {
        color: red;
    }
</style>

</head>

<body>
    <div id="data">

    </div>
</body>

</html>