{% load thumbnail %}{% load staticfiles %}
{% for bio in content.section.biography_set.all %}
<div class="span-18 last bio">
	{% if bio.title %}
		<h2 class="bio_title">{{ bio.title }}</h2>
	{% endif %}


	<div class="span-6">	
		{% if bio.photo %}
			<img src="{% thumbnail bio.photo 200x0 %}" alt="Photo of {{bio.name}}" class="bio-photo" />
		{% else %}
			<img src="{% static 'img/unknown-bio-photo.png' %}" alt="Generic photo placeholder" class="bio-photo" />
		{% endif %}
	</div>

	<div class="span-12 last">
		<h3 class="name">{{ bio.first_name }} {{ bio.last_name }}</h3>
		{% if bio.biography %}
			<p>{{ bio.biography|linebreaks }}</p>
		{% endif %}
	
		{% if bio.email %}
			<p class="contact"><a href="mailto:{{ bio.email }}">Contact {{ bio.first_name }}</a> ({{ bio.email }})</p>
		{% endif %}
	</div>
</div>
{% endfor %}
