a {
	text-decoration: none;
	color: blue;
}

div#banner img {
	width: 100%;
}

div#content, div#sidebar {
	font-family: Helvetica;
}

div#content h2 {
	text-align: right;
	font-size: 24px;
	margin: 15px 0;
	border-bottom: 2px solid #000066;
	color: #000066;
}

div#content p {
	margin: 5px 0 20px 0;
}

div#sidebar div.callout {
	background-color: #eee;
	padding: 1px;
	width: 70%;
	margin: 0;
}

div#sidebar div.callout p {
	margin: 5px;
}

div#content h2.bio_title {
	text-align: left;
	border: none;
	font-weight: 550;
	font-style: italic;
}

div#content h3.name {
	margin-top: 0;
	font-style: italic;
	color: #000066;
}

div.bio {
	/* margin-top: 10px; */
}

img.bio-photo {
	width: 200px;
}
table {
    border-color: Black;
    border-width: 1px;
    border-style: solid;
	width: auto;
}

table td {
    border-color: Black;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 4px;
}

table th {
	background-color: #000066;
	margin: 0;
	padding: 4px;
	color: White;
	text-align: center;
	font-weight: bold;
}

table tr.alternate {
	background-color: #ffffe1;
}

div#content img.left {
	float: left;
	position: relative;
	margin-top: 5px;
	margin-right: 10px;
}

div#content img.right {
	float: right;
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
}

div#content h2.headingSubtitle {
	margin-bottom: 0;
	padding-bottom: 0;
}

div#content p.headingSubtitle {
	text-align: right;
	color: #666;
	font-size: 14px;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 15px;
}