{% extends "dashboard_base.html" %}

{% block headextra %}
<style type="text/css">
	textarea {
		width: 100%;
	}
</style>
{% endblock %}

{% block content %}
<h2>Report Builder</h2>
<form method="GET">
	<div class="span-8">
		<h3>Query string</h3>
		<textarea name="query"></textarea>
	</div>
	<div class="span-8">
		<h3>Fields</h3>
		<textarea name="fields">name</textarea>
	</div>
	<div class="span-8 last">
		<h3>Registration session priority</h3>
		<textarea name="registration_sessions">{% for rs in registration_sessions %}{{ rs.card_code }}
{% endfor %}</textarea>
	</div>
	<p>Format: <select name="format"><option value="HTML">Web Page</option><option value="Excel">Excel</option></select>
	<p><input type="submit" name="process" value="Get report"></p>
</form>

<div class="span-12">
	<h2>Allowed operands</h2>
	<p>The reporting system is based on the list system and uses reverse polish notation. The following operators are supported</p>
	<table>
		<tr><th>+</th><td>Add the members of a list to the current people</td></tr>
		<tr><th>-</th><td>Remove the members of a list from the current people</td></tr>
		<tr><th>X</th><td>Intersect a list with the current people</td></tr>
	</table>
	
	<h2>Available Lists</h2>
	{% for list_type, semesters in managed_lists.items %}
		<h3>{{ list_type }}</h3>
		<ul>
		{% for semester, lists in semesters.items %}
			<li><strong>{{ semester }}</strong>: {% for l in lists %} {{ l.slug }}{% if not forloop.last %}, {% endif %} {% endfor %}</li>
		{% endfor %}
		</ul>
	{% endfor %}
	{% if unmanaged_lists %}
		<h3>Administrative lists</h3>
		<ul>
			{% for l in unmanaged_lists %} 
				<li>{{ l.slug }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

<div class="span-12 last">
	<h2>Allowed fields</h2>
	<ul>
		<li>first_name: Member's first name</li>
		<li>last_name: Member's last name</li>
		<li>Name: Member's name</li>
		<li>phone_number: Member's phone number</li>
		<li>peoplesoft_number: Member's peoplesoft number</li>
		<li>netid: Member's NetID</li>
		<li>hometown: Member's Hometown</li>
		<li>major: Member's Major</li>
		<li>person_id: Member's person ID (internal use only)</li>
		<li>preferred_emails: E-mail(s) that the member gets e-mail delivered to</li>
		<li>uconn_email: UConn e-mail address of the member</li>
		<li>emails: All e-mail addresses that we have on file for the member</li>
		<li>membership_card: The member's membership card</li>
		<li>registration_session: The registration session (semester) that the semester specific information is coming from</li>
		<li>gender: The member's gender</li>
		<li>team: Club/team</li>
		<li>usg_person_type: The high level person type (example: UConn Undergrad Student)</li>
		<li>semester_standing: The member's semester standing (example: Freshman)</li>
		<li>person_type: The low level person type (example: UConn Undergraduate: Freshman)</li>
		<li>paid_amount: The amount the member has paid</li>
		<li>paid_date: The date the member has paid</li>
		<li>registration_id: The member's registration ID (internal use only)</li>
	</ul>
	<h2>Available registration sessions</h2>
	<ul>
		{% for rs in registration_sessions %}
			<li> {{ rs.card_code }}: {{rs.semester}} {{rs.year}}</li>
		{% endfor %}
	</ul>
</div>

<div class="span-24">
<h2>Examples</h2>
	<h3>Get the current team members (paid and unpaid)</h3>
	<blockquote>13f-team</blockquote>
	<blockquote></blockquote>
	<h3>Get the current undergrad paid team members</h3>
	<blockquote>13f-team<br/>13f-undergraduates<br/>13f-paid<br />X<br />X</blockquote>
	or
	<blockquote>13f-team<br/>13f-undergraduates<br />X<br/>13f-paid<br />X</blockquote>
	<h3>Get the current team members who are undergrads or grad students</h3>
	<blockquote>13f-team<br />13f-undergraduates<br/>13f-graduate_students<br/>+<br/>X</blockquote>
	or
	<blockquote>13f-undergraduates<br/>13f-graduate_students<br/>+<br/>13f-team<br />X</blockquote>
	<h3>Get the paid team and club members from Fall 2012 or Spring 2013 who were undergrad or grad students and paid in their respective semesters</h3>
  <table>
	<tr>
		<th>Operation (into the query string box)</th>
		<th>What is on the stack after the operation</th>
	</tr>
    <tr>
      <td>12f-club</td>

      <td>
        <ul>
          <li>People on 12f-club</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>12f-team</td>

      <td>
        <ul>
          <li>People on 12f-club</li>

          <li>People on 12f-team</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>+</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>12f-paid</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team</li>

          <li>People on 12f-paid</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>x</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team who were also on 12f-paid</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>12f-undergraduates</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team who were also on 12f-paid</li>

          <li>People on 12f-undergraduates</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>12f-graduate_students</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team who were also on 12f-paid</li>

          <li>People on 12f-undergraduates</li>

          <li>People on 12f-graduate_students</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>+</td>

      <td>
        <ul>
          <li>People on either 12f-club or 12f-team who were also on 12f-paid</li>

          <li>People on 12f-undergraduates or 12f-graduate_students</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>x</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>13s-club</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on 13s-club</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>13s-team</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on 13s-club</li>

          <li>People on 13s-team</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>+</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>13s-paid</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team</li>

          <li>People on 13s-paid</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>x</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team who were also on 13s-paid</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>13s-undergraduates</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team who were also on 13s-paid</li>

          <li>People on 13s-undergraduates</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>13s-graduate_students</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team who were also on 13s-paid</li>

          <li>People on 13s-undergraduates</li>

          <li>People on 13s-graduate_students</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>+</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either 13s-club or 13s-team who were also on 13s-paid</li>

          <li>People on 13s-undergraduates or 13s-graduate_students</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>x</td>

      <td>
        <ul>
          <li>People on either ((12f-club or 12f-team) who were also on 12f-paid) and
          either of (12f-undergraduates or 12f-graduate_students)</li>

          <li>People on either ((13s-club or 13s-team) who were also on 13s-paid) and
          either of (13s-undergraduates or 13s-graduate_students)</li>
        </ul>
      </td>
    </tr>

    <tr>
      <td>+</td>

      <td>
        <ul>
          <li>People from Fall 2013 or Spring 2012 who were undergraduate or graduate
          students and paid in their respective semester</li>
        </ul>
      </td>
    </tr>
  </table>
</div>
{% endblock %}