{% extends "dashboard_base.html" %}
{% load staticfiles %}

{% block headextra %}
	{{ block.super }}
	
	<script type="text/javascript" src="{% static 'js/dashboard_index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="span-8">
	<h2>Semester Stats</h2>
	<ul>
		<li>Paid team members: {{ team_paid }}</li>
		<li>Paid club members: {{ club_paid }}</li>
		<li>Registered/unpaid team members: {{ team_unpaid }}</li>
		<li>Registered/unpaid club members: {{ club_unpaid }}</li>
		<li>Total dollars: ${{ total_paid }}</li>
	</ul>
</div>

<div class="span-8">
	<h2>Person information lookup</h2>
	<form method="GET" action="{% url 'dashboard.views.reporting.person_info' %}" id="person_info_form">
		<p><label for="person_info_search">Scan/search:</label><br /><input id="person_info_search" type="text" class="autocomplete" name="person_info_search" /></p>
	</form>
</div>

<div class="span-8 last">
	<h2>Utilities</h2>
	<p><a title="Rebuilding all managed lists make take upwards of 10 minutes." class="confirm" href="{% url 'dashboard.views.utils.rebuild_managed_lists' %}">Rebuild managed lists (after changing automatic list parameters)</a></p>
	
	<h2>Running Tasks</h2>
	{% if running_tasks %}
	<ul>
		{% for task in running_tasks %}
			<li>{{ task.name }}</li>
		{% endfor %}
	</ul>
	{% else %}
		No running tasks
	{% endif %}
		
</div>

{% endblock %}